.nav-color {
    background-color: #0F044C !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    margin-top: 50px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

.color-footer {
    background-color: #EEEEEE !important;
}

.portfolioImg {
    border-radius: 120px;
}

.sobre {
    background-color: #0F044C !important;
    padding: 25px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.conhecimento {
    background-color: #141E61;
    padding: 25px;
}

.contato-email {
    background-color: #787A91;
    padding: 25px;
}

.portfolio {
    background-color: rgba(0, 0, 0, 0.07);
    padding: 25px;
}

button span {
    /*overwriting*/
    color: white;
    font-size: 25px;
}

.card {
    background-color: #ffffff00;
    border: 1px solid rgba(0, 0, 0, 2.125);
    margin-bottom: 10px;
    margin: 0 auto;
    float: none;
}

.login {
    background-color: rgb(24, 64, 123) !important;
    padding: 50px;
    padding-top: 10%;
}

.color-list {
    background-color: #ededed;
}

.button-template {
    border-radius: 30px;
    width: 290px;
}

.remove-space {
    margin: 0;
    padding: 0;
}

.card {
    background-color: #23358e47;
    border: 1px solid rgb(255 255 255);
    margin-bottom: 10px;
    margin: 0 auto;
    float: none;
}

.color-list-group {
    background-color: #17246d;
}

#trabalhos {
    font-size: 18px;
    font-weight: bold;
}

#informacoesTrabalho {
    font-size: 18px;
    font-weight: bold;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 250px;
    max-width: 406px;
}

#dataBusca {
    width: 50%;
}

.timeline {
    position: relative;
    padding: 4px 0 0 0;
    margin-top: 22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right: -100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left: -100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline>li .timeline-panel {
    position: relative;
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #ff3636;
    border-radius: 100%;
    background-color: #ff3636;
    box-shadow: 0 0 5px #ff3636;
    width: 200px;
    height: 200px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 22px;
    margin-bottom: 4px;
    padding: 0;
    color: #fff;
}

.timeline .timeline-heading h4.subheading {
    margin: 0;
    padding: 0;
    text-transform: none;
    font-size: 18px;
    color: #333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color: #808080;
}


/*Style for even div.line*/

.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height: 340px;
    background-color: #ff3636;
    -ms-transform: rotate(-44deg);
    /* IE 9 */
    -webkit-transform: rotate(-44deg);
    /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #ff3636;
}


/*Style for odd div.line*/

.timeline>li:nth-child(even) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height: 340px;
    background-color: #ff3636;
    -ms-transform: rotate(44deg);
    /* IE 9 */
    -webkit-transform: rotate(44deg);
    /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #ff3636;
}


/* Medium Devices, .visible-md-* */

@media (min-width: 992px) and (max-width: 1199px) {
    .timeline>li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    .timeline>li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        left: 690px;
        margin-left: 0px;
    }
    .timeline>li:nth-child(even) .timeline-panel {
        width: 76%;
        padding: 0 0 20px 0px;
        text-align: left;
    }
    .timeline>li:nth-child(odd) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: right;
    }
    .timeline>li .line {
        display: none;
    }
}


/* Small Devices, Tablets */

@media (min-width: 768px) and (max-width: 991px) {
    .timeline>li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    .timeline>li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        left: 520px;
        margin-left: 0px;
    }
    .timeline>li:nth-child(even) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: left;
    }
    .timeline>li:nth-child(odd) .timeline-panel {
        width: 70%;
        padding: 0 0 20px 0px;
        text-align: right;
    }
    .timeline>li .line {
        display: none;
    }
}


/* Custom, iPhone Retina */

@media only screen and (max-width: 767px) {
    .timeline>li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    .timeline>li:nth-child(odd) {
        margin-bottom: 0px;
        min-height: 0px;
        left: 0px;
    }
    .timeline>li .timeline-image {
        position: static;
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        float: right;
        left: 0px;
        margin-left: 0;
    }
    .timeline>li:nth-child(even) .timeline-panel {
        width: 100%;
        padding: 0 0 20px 14px;
    }
    .timeline>li:nth-child(odd) .timeline-panel {
        width: 100%;
        padding: 0 14px 20px 0px;
    }
    .timeline>li .line {
        display: none;
    }
}

.section-title {
    margin-bottom: 60px;
}

.section-title p {
    color: #777;
    font-size: 16px;
}

.section-title h4 {
    /* text-transform: capitalize; */
    font-size: 30px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 200;
}

.section-title h4:before {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background-color: #ff3636;
    bottom: 0;
    left: 23%;
    margin-left: -30px;
}

.section-title h4:after {
    position: absolute;
    background-color: #ff3636;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
}

.section-title-timeline {
    margin-bottom: 20px;
}

.section-title-timeline p {
    color: #777;
    font-size: 16px;
}

.section-title-timeline h4 {
    /* text-transform: capitalize; */
    font-size: 30px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 200;
}

.section-title-timeline h4:before {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background-color: #ff3636;
    bottom: 0;
    left: 23%;
    margin-left: 80px;
    top: 40px;
}

.section-title-timeline h4:after {
    position: absolute;
    background-color: #ff3636;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: 100px;
    border-radius: 50%;
    top: 36px;
}

.section-title-timeline-direita {
    margin-bottom: 20px;
}

.section-title-timeline-direita p {
    color: #777;
    font-size: 16px;
}

.section-title-timeline-direita h4 {
    /* text-transform: capitalize; */
    font-size: 30px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 200;
}

.section-title-timeline-direita h4:before {
    position: absolute;
    content: "";
    width: 60%;
    height: 2px;
    background-color: #ff3636;
    bottom: 0;
    left: 23%;
    margin-left: -110px;
    top: 40px;
}

.section-title-timeline-direita h4:after {
    position: absolute;
    background-color: #ff3636;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: -100px;
    border-radius: 50%;
    top: 36px;
}


/*********************** Demo - 17 *******************/

.box17 {
    overflow: hidden
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mb-30 {
    margin-bottom: 30px
}

.box17 {
    box-shadow: 0 0 5px #7e7d7d;
    text-align: center
}

.box17 .icon li a {
    border-radius: 50%;
    font-size: 20px;
    color: #fff
}

.box17 .icon li,
.box17 .icon li a {
    display: inline-block
}

.box17 {
    position: relative
}

.box17:after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(2, 162, 221, .9);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s ease 0s
}

.box17:hover:after {
    opacity: 1
}

.box17 img {
    width: 100%;
    height: auto;
    transition: all 1.5s ease 0s
}

.box17 .box-content,
.box17 .icon li a {
    position: absolute;
    transition: all .6s ease 0s
}

.box17:hover img {
    transform: scale(1.2)
}

.box17 .icon {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.box17 .icon li a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    top: 50%;
    border: 1px solid #fff;
    opacity: 0
}

.box17:hover .icon li a {
    top: 30%;
    opacity: 1
}

.box17 .icon li a:hover {
    background: #fff;
    color: #02a2dd
}

.box17 .icon li:first-child a {
    left: -90%;
    right: 0
}

.box17:hover .icon li:first-child a {
    left: -55px
}

.box17 .icon li:last-child a {
    right: -90%;
    left: 0
}

.box17:hover .icon li:last-child a {
    right: -55px
}

.box17 .box-content {
    width: 100%;
    padding: 20px 10px;
    background: rgba(0, 0, 0, .1);
    bottom: -100px;
    left: 0;
    z-index: 1
}

.box17:hover .box-content {
    bottom: 0
}

.box17 .title {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-top: 0
}

.box17 .post {
    display: block;
    font-size: 14px;
    color: #fff
}

@media only screen and (max-width:990px) {
    .box17 {
        margin-bottom: 30px
    }
}